@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

.expand {
    transition: transform 0.3s ease;
}

.expand:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 640px) {
    .hide-nav {
        display: none;
    }
}